@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.App {
  background-color: #fff;


}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans',sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color: #4cac87;
  line-height: 30px;

}

h5, p {
  text-align: justify;
  padding-left: 80px;
  text-align: center;
}

p, ol {
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  color: #4a4e50;
  font-weight: 600;
  line-height: 25px;
  text-align: justify;
}

.th {
  padding-left: 80px;
}
.desc {
  padding-top: 50px;
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0;
}

.duration {
  font-family: 'Open Sans',sans-serif;
  font-size: 15px;
  color: #4a4e50;
  padding-bottom: 20px;
}
