@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.App {
  background-color: #fff;

}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans',sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: #4cac87;
  line-height: 20px;
}

p, ol {
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  color: #4a4e50;
  font-weight: 600;
  line-height: 25px;
}
